{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-xl-6 col-sm-6">
            <h4>Job Profile</h4>
        </div>
    </div>

    <div id="tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#c-tab" role="tab">My Jobs</a></li>
            <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#m-tab" role="tab">Applied Jobs</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#g-tab" role="tab">Posted Jobs</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="c-tab" role="tabpanel">
{#                {% for job in user.job_freelancer.all %}#}
                {% for job in user.job_freelancer.all %}
                    <a href="{% url 'jobs:job_detail' job.pk %}">{{ job.job_title }}</a><br/><br/>
                {% endfor %}
            </div>
            <div class="tab-pane active" id="m-tab" role="tabpanel">
                {% for proposal in user.job_proposal.all %}
                    {% if proposal.job not in user.job_freelancer.all %}
                        <a href="{% url 'jobs:job_detail' proposal.job.pk %}">{{ proposal.job.job_title }}</a><br/><br/>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane active" id="g-tab" role="tabpanel">
                {% for job in user.job_owner.all %}
                    <a href="{% url 'jobs:job_detail' job.pk %}">{{ job.job_title }}</a><br/><br/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}